<div class="card">
  @if (!orderPlaced()) {
    <div class="row">
      <div class="col-md-8 cart">
        <div class="title">
          <div class="row">
            <div class="col">Shopping Cart</div>
          </div>
        </div>

        <div class="subtitle">
          <div class="row">
            <div class="col-4 text-center">Product</div>
            <div class="col-2 text-center">Quantity</div>
            <div class="col text-center">Price</div>
            <div class="col text-center ">Total Price</div>
          </div>
        </div>

        @for (product of products(); track product.ProductId) {
          <div class="row border-top border-bottom">
            <div class="row main align-items-center">
              <div class="col-2">
                <img [src]="product.ImageUrl" class="card-img-top product-img" alt="{{ product.ProductName }}" />
              </div>
              <div class="col">
                <div class="row">{{ product.ProductName }}</div>
              </div>
              <div class="col">
                <span class="border px-3">{{ product.quantity }}</span>
              </div>
              <div class="col">₹{{ product.ProductPrice }}</div>
              <div class="col">₹{{ product.quantity * product.ProductPrice }}</div>
            </div>
          </div>
        }

        <div class="back-to-shop">
          <a routerLink="/products"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
      </div>

      <div class="col-md-4 summary">
        <div><p><b>Summary</b></p></div>

        <div class="summary-content">
          <div class="row">
            <div class="col"><b>Total Items: </b></div>
            <div class="col text-center">{{ products().length }}</div>
          </div>

          <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
            <div class="col"><b>Total Price: </b></div>
            <div class="col text-center"><b>₹</b>{{ calculateTotalPrice() }}</div>
          </div>
        </div>

        <div class="row">
          <button (click)="placeOrder()" class="btn">Place Order</button>
        </div>
      </div>
    </div>
  }


  @if (orderPlaced()) {
    <div class="row">
      <div class="col text-center">
        <div class="alert alert-info" role="alert">
          Your cart is empty. Thank you for your order!
        </div>
      </div>
    </div>
  }
</div>
