<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow-lg w-75">
    <div class="card-header text-center">
      <h4>Create Product</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

        
        <div class="row mb-3">
          <div class="col-6 text-start">
            <label class="form-label">Product Name</label>
          </div>
          <div class="col-6">
            <input type="text" formControlName="ProductName" class="form-control" placeholder="Enter product name" />
            @if(productForm.get('ProductName')?.touched && productForm.get('ProductName')?.invalid){ 
            <div  class="text-danger">
              Product name is required.
            </div>
          }
          </div>
        </div>

        
        <div class="row mb-3">
          <div class="col-6 text-start">
            <label class="form-label">Product Price</label>
          </div>
          <div class="col-6">
            <input type="number" formControlName="ProductPrice" class="form-control" placeholder="Enter price" />
            @if(productForm.get('ProductPrice')?.touched && productForm.get('ProductPrice')?.invalid){ 
            <div  class="text-danger">
              Price must be greater than 0.
            </div>
          }
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-6 text-start">
            <label class="form-label">Product Stock Quantity</label>
          </div>
          <div class="col-6">
            <input type="number" formControlName="StockQuantity" class="form-control" placeholder="Enter stock quantity of the product" />
            @if(productForm.get('StockQuantity')?.touched && productForm.get('StockQuantity')?.invalid){ 
            <div  class="text-danger">
              Stock Quantity must be greater than 0.
            </div>
          }
          </div>
        </div>

        
        <div class="row mb-3">
          <div class="col-6 text-start">
            <label class="form-label">Product Description</label>
          </div>
          <div class="col-6">
            <textarea formControlName="ProductDescription" class="form-control" rows="3" placeholder="Enter description"></textarea>
          </div>
        </div>

        
        <div class="row mb-3">
          <div class="col-6 text-start">
            <label class="form-label">Product Image URL</label>
          </div>
          <div class="col-6">
            <input type="text" formControlName="ImageUrl" class="form-control" placeholder="Enter image URL" />
            @if(productForm.get('ImageUrl')?.touched && productForm.get('ImageUrl')?.invalid){ 
            <div  class="text-danger">
              Product image is required.
            </div>
          }
          </div>
        </div>

        
        <div class="d-flex justify-content-center gap-3 mt-4">
          <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>

      </form>
    </div>
  </div>
</div>
