.card {
transition: transform 0.2s,box-shadow 0.2s;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-footer button{
    font-weight: bold;
}

h4{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.btn{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}